In [1]:
import matplotlib as plt
import pandas as pd 
import numpy as np

In [18]:
df1 = pd.read_csv("Dataset1_TranscriptMahasiswa.csv", sep=";", dtype={"NIM" :"object"})
df2 = pd.read_csv("Dataset2_EvaluasiDosenPerMK.csv", sep=";", decimal=",")

In [32]:
df1["GRADE"].describe()

count     30318
unique       10
top           A
freq       7790
Name: GRADE, dtype: object

In [36]:
indeks = ["A", "A-", "B+", "B", "B-", "C+", "C", "D", "E", "F"]
bobot = [4, 3.7, 3.3, 3.0, 2.7, 2.3, 2.0, 1.0, 0, 0]
ranges = [[100, 85], [84.99, 80], [79.99, 75], [74.99, 70], [69.99, 65], [64,99, 60], [59.99, 55], [54.99, 45], [], [], [], []]
for i in df1.index:
    for j in indeks:
        if df1.at[i, "GRADE"] == j:
            df1.at[i, "BOBOT"] = bobot[indeks.index(j)]

for i in df1.index:
    for j in indeks:
        if df1.at[i, "GRADE"] == j:
            df1.at[i, "BOBOT"] = bobot[indeks.index(j)]

In [37]:
df1

,NIM,ANGKATAN,SEMESTER,KODE_MK,NAMA_MK,SKS,NILAI,GRADE,BOBOT
0,10110310002,2010,1011,EM100,EM100 Dasar-dasar Bisnis,3,57.0,C,2.0
1,10110310002,2010,1011,EM180,EM180 Matematika Bisnis,3,70.0,B,3.0
2,10110310002,2010,1011,TI100,TI100 Algoritma dan Pemrograman,4,57.0,C,2.0
3,10110310002,2010,1011,TI101,TI101 Matematika Diskrit,3,59.0,C,2.0
4,10110310002,2010,1011,TI110,TI110 Pengantar Teknologi Multimedia,3,74.0,B,3.0
...,...,...,...,...,...,...,...,...,...
30865,00000033849,2018,1821,IS220,Interaksi Manusia dan Komputer,3,26.0,E,0.0
30866,00000033849,2018,1821,IS240,Probabilitas dan Statistik,3,38.0,E,0.0
30867,00000033849,2018,1821,IS251,Perilaku Organisasi,2,49.0,D,1.0
30868,00000033849,2018,1821,IS255,Algoritma dan Struktur Data,4,1.0,E,0.0
30869,00000033849,2018,1821,UM223,Bahasa Inggris 2,2,40.0,E,0.0

In [40]:
df1.loc((df1["NILAI"] == np.NaN) & (df1["GRADE"] == np.NAN))

NameError: name 'null' is not defined