#### Setup

Notes : 

- df1 : Data Transkrip Mahasiswa

- df2 : Data Evaluasi Dosen per Mata Kuliah

In [14]:
import matplotlib as plt
import pandas as pd 
import numpy as np

In [49]:
df1 = pd.read_csv("Dataset1_TranscriptMahasiswa.csv", sep=";", dtype={"NIM" :"object", "NAMA_MK" : "string"})
df2 = pd.read_csv("Dataset2_EvaluasiDosenPerMK.csv", sep=";", decimal=",")

In [16]:
df1["GRADE"].describe()

count     30318
unique       10
top           A
freq       7790
Name: GRADE, dtype: object

#### Data Cleansing

Dataframe 1 (Transkrip Mahasiswa)

In [54]:
df1[df1['NAMA_MK'].isnull()]

              NIM  ANGKATAN  SEMESTER KODE_MK NAMA_MK  SKS  NILAI GRADE
442   10110310011      2010      1411   SI863    <NA>    6   70.0     B
983   10110310022      2010      1411   SI863    <NA>    6   79.0    B+
1528  10110310036      2010      1411   SI863    <NA>    6   56.0     C
1626  10110310037      2010      1411   SI863    <NA>    6   72.0     B
1919  10110310044      2010      1321   SI863    <NA>    6  100.0     A
2019  10110310045      2010      1411   SI863    <NA>    6   75.0    B+
2166  10110310047      2010      1411   SI863    <NA>    6   73.0     B
2904  10110310070      2010      1321   SI863    <NA>    6   85.0     A
2954  10110310071      2010      1411   SI863    <NA>    6   74.0     B
3448  10110310083      2010      1411   SI863    <NA>    6   88.0     A
3596  11110310001      2011      1411   SI863    <NA>    6   78.0    B+
3745  11110310003      2011      1411   SI863    <NA>    6   96.0     A
3843  11110310004      2011      1411   SI863    <NA>    6   80.0    A-
3941  11110310005      2011      1411   SI863    <NA>    6   75.0    B+
4189  11110310009      2011      1411   SI863    <NA>    6   81.0    A-
4687  11110310020      2011      1411   SI863    <NA>    6   77.0    B+
4936  11110310026      2011      1411   SI863    <NA>    6   65.0    B-
5134  11110310033      2011      1411   SI863    <NA>    6   61.0    C+
5183  11110310034      2011      1411   SI863    <NA>    6   92.0     A
5282  11110310035      2011      1411   SI863    <NA>    6   71.0     B
6133  11110310059      2011      1411   SI863    <NA>    6   82.0    A-
6582  11110310071      2011      1411   SI863    <NA>    6   71.0     B
6882  11110310080      2011      1411   SI863    <NA>    6   78.0    B+

In [66]:
df1["NAMA_MK"] = df1["NAMA_MK"].fillna("Tugas Akhir")

for i in df1.index:  
    nama_mk = df1.at[i, "NAMA_MK"].split(" ")
    if df1.at[i, "KODE_MK"] not in nama_mk : 
        df1.at[i, "NAMA_MK"] = df1.at[i, "KODE_MK"] + " " + df1.at[i, "NAMA_MK"]

In [70]:
df1["NAMA_MK"].unique()

array(['EM100 10110310002', 'EM180 10110310002', 'TI100 10110310002', ...,
       'IS251 00000033849', 'IS255 00000033849', 'UM223 00000033849'],
      dtype=object)

In [67]:
indeks = ["A", "A-", "B+", "B", "B-", "C+", "C", "D", "E", "F"]
bobot = [4, 3.7, 3.3, 3.0, 2.7, 2.3, 2.0, 1.0, 0, 0]
ranges = [[100, 85], [84.99, 80], [79.99, 75], [74.99, 70], [69.99, 65], [64.99, 60], [59.99, 55], [54.99, 45], [44.99,0]]

for i in df1.index: 
    for j in ranges: 
        if j[1] <= df1.at[i, "NILAI"] <= j[0]:
            df1.at[i, "GRADE"] = indeks[ranges.index(j)]

for i in df1.index:
    for j in indeks:
        if df1.at[i, "GRADE"] == j:
            df1.at[i, "BOBOT"] = bobot[indeks.index(j)]

In [24]:
df1.head()

,NIM,ANGKATAN,SEMESTER,KODE_MK,NAMA_MK,SKS,NILAI,GRADE,BOBOT
0,10110310002,2010,1011,EM100,EM100 Dasar-dasar Bisnis,3,57.0,C,2.0
1,10110310002,2010,1011,EM180,EM180 Matematika Bisnis,3,70.0,B,3.0
2,10110310002,2010,1011,TI100,TI100 Algoritma dan Pemrograman,4,57.0,C,2.0
3,10110310002,2010,1011,TI101,TI101 Matematika Diskrit,3,59.0,C,2.0
4,10110310002,2010,1011,TI110,TI110 Pengantar Teknologi Multimedia,3,74.0,B,3.0

In [25]:
df1[df1['GRADE'].isnull()]

Empty DataFrame
Columns: [NIM, ANGKATAN, SEMESTER, KODE_MK, NAMA_MK, SKS, NILAI, GRADE, BOBOT]
Index: []

In [27]:
df1["NILAI"] = df1["NILAI"].fillna(0)
df1[df1['NILAI'].isnull()]

Empty DataFrame
Columns: [NIM, ANGKATAN, SEMESTER, KODE_MK, NAMA_MK, SKS, NILAI, GRADE, BOBOT]
Index: []

Dataframe 2 (Evaluasi Dosen per Mata Kuliah)

In [33]:
df2.head(14)

,TAHUN,SEMESTER,MATAKULIAH,PERTANYAAN,KETERANGAN,NILAI
0,2015,1511,IS100 Management Information Systems,1,Kesiapan memberikan perkuliahan/praktikum,3.28
1,2015,1511,IS100 Management Information Systems,2,Upaya menyampaikan materi perkuliahan/praktik...,3.25
2,2015,1511,IS100 Management Information Systems,3,Sistematis dalam menyampaikan materi perkuliah...,3.24
3,2015,1511,IS100 Management Information Systems,4,Kemampuan memberikan contoh yang relevan dari ...,3.30
4,2015,1511,IS100 Management Information Systems,5,Penyampaian materi perkuliahan sesuai dengan k...,3.27
5,2015,1511,IS100 Management Information Systems,6,Pemakaian buku teks sebagai buku utama perkuli...,3.19
6,2015,1511,IS100 Management Information Systems,7,Memberi review materi perkuliahan sebelumnya,3.18
7,2015,1511,IS100 Management Information Systems,8,"Pemberian kesempatan bertanya, berdiskusi sert...",3.32
8,2015,1511,IS100 Management Information Systems,9,Kejelasan menjawab pertanyaan /diskusi di kelas,3.29
9,2015,1511,IS100 Management Information Systems,10,Pemberian tugas/kuis serta pembahasannya di kelas,3.24
10,2015,1511,IS100 Management Information Systems,11,Kemampuan memotivasi semangat belajar mahasiswa,3.31
11,2015,1511,IS100 Management Information Systems,12,"Kemampuan menerima kritik, saran dan pendapat",3.27
12,2015,1511,IS100 Management Information Systems,13,Fairness dalam memberikan penilaian,3.26
13,2015,1511,IS100 Management Information Systems,14,Ketepatan waktu dalam memulai dan mengakhiri p...,3.31